 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
     <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
     <ul class="nav navbar-nav navbar-right">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="navbar-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li><img src="{{site.url}}/images/Github-Mark-32px.png"/></li>
    </ul>
  </div>
</nav>

